.container {
  display: flex;
  justify-content: space-between;
}

.columnNav {
  flex: 0 0 20%;
  padding: 10px;
}
.columnApp {
  flex: 1; /* равномерно распределяет доступное пространство между колонками */
  padding: 10px; /* добавляем отступы для улучшения визуального восприятия */
}